version: '3.3'
services:
  postgis:
    image: postgis/postgis
    container_name: ds_postgis
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234
      - POSTGRES_DB=geodb
    ports:
      - 5433:5432
    volumes:
      - ./postgres/geodb.sql:/docker-entrypoint-initdb.d/geodb.sql
  nodejs:
    image: node
    container_name: ds_nodejs
    working_dir: /app/nodejs
    restart: always
    depends_on:
      - postgis
    environment:
      - NODE_ENV=production
    volumes:
      - ./nodejs:/app/nodejs
    ports:
      - 80:3000
    command: bash -c "npm i && npm i -g nodemon && npm i -g pm2 && nodemon server.js"
