@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;500;700&family=Jua&family=Kanit:wght@100;200;300;400;500;700&family=Noto+Sans+Thai:wght@100;300;400;500;600;700&family=Prompt:wght@100;200;300;400;500;600;700&display=swap');

.navbar a,
.navbar a:focus {
    font-family: 'Mitr' sans-serif;
}

.entry h2,
h5,
h2,
label,
p {
    font-family: 'Noto Sans Thai', sans-serif;
}

.pointer {
    cursor: pointer;
}

.ff-noto {
    /* font-family: 'Noto Sans Thai' sans-serif !important; */
    font-family: 'Noto Sans Thai', sans-serif;
}

.mt-4 {
    margin-top: 4px;
}

.dp-none {
    display: none;
}

.bg01 a {
    background-color: #50d49f;
    color: #fff !important;
}

.btn-close-tag {
    background-color: #fff;
    /* border: 0.5px solid #373234; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 4px;
    font-size: 9px;
    border-radius: 50%;
    position: absolute;
    margin-top: -10px;
    margin-left: -16px;
    opacity: 1;
}

#listcategory li {
    padding: 0;
}

#listfileformat li {
    padding: 0;
}

.has-ff {
    background-color: #50d49f;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.has-ff p {
    margin: auto;
    color: #fff;
}

.btn-close-tag2 {
    background-color: #fff;
    /* border: 0.5px solid #373234; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 4px;
    font-size: 9px;
    border-radius: 50%;
    position: absolute;
    margin-top: -10px;
    margin-left: -9px;
    opacity: 1;
}

#preloader {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    overflow: hidden;
    background: #fff;
    text-align: center;
}

#preloader h6 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 400%);
    font-size: 26px;
    font-weight: 500;
    font-family: 'Noto Sans Thai', sans-serif;
}

.content-display {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    font-family: 'Jua';
    font-size: 26px;
}



@keyframes loading-text-opacity {
    0% {
        opacity: 0
    }

    25% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    75% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-moz-keyframes loading-text-opacity {
    0% {
        opacity: 0
    }

    20% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes loading-text-opacity {
    0% {
        opacity: 0
    }

    20% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-o-keyframes loading-text-opacity {
    0% {
        opacity: 0
    }

    20% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

#loading-text {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: #caced5;
    opacity: 0;
    width: 100%;
}

.perpendicular-line {
    width: 10%;
    transform: rotate(90deg);
    border-color: #444444;
}

.btn-memu {
    width: 100%;
    height: 48px;
    margin-bottom: 12px;
    border-radius: 10px;
    /* background-color: #e43c5c; */
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(0, 0, 0);
    transition: 0.2s;
    font-family: 'Noto Sans Thai', sans-serif;
}

.btn-memu i {
    padding: 0 16px 0 12px;
    font-size: 24px;
    filter: grayscale();
}

.btn-memu span {
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-family: 'Noto Sans Thai', sans-serif;
}

.btn-memu:hover {
    box-shadow: 8px 8px 12px 0 rgba(187, 187, 187, 0.2);
    background-color: #cecece;
    color: #ffffff;
}

.card-border {
    width: fit-content;
    max-width: 100%;
    background-color: #ffffff;
    color: #e6e6e6;
    border-radius: 15px;
    cursor: pointer;
    /* box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 0px 46px rgba(0, 0, 0, 0.04); */
}

.card-border:hover {
    box-shadow: 8px 8px 12px 0 rgba(0, 0, 0.2, 0);
    background-color: #50d49f;
    color: #ffffff;
}

hr {
    height: 30px;
    width: 520px;
    color: #50d49f;
    background: #50d49f;
    /* text-align: center; */
    position: absolute;
}

.btn-learn-more {
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 22px;
    border-radius: 20px;
    /* transition: 0.3s; */
    line-height: 1;
    color: #50d49f;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    /* box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px; */
    box-sizing: border-box;
    /* border: 2px solid rgb(90, 182, 97); */
    /* background: #50d49f; */
}

.btn-learn-more:hover {
    background: #292929;
    color: #ffffff;
    /* box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px; */
    /* border: 1px solid #50d49f; */
    /* transition: 0.3s; */
    text-decoration: none;
}

.btn-auth {
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 6px 10px;
    border-radius: 20px;
    /* transition: 0.3s; */
    line-height: 1;
    color: #ffff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    /* margin-top: 1px; */
    /* box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px; */
    box-sizing: border-box;
    /* border: 2px solid #50d49f; */
    background: #50d49f;
}

.cd-accordion {
    background: var(--cd-color-1);
    box-shadow: var(--shadow-lg);
}

.cd-accordion--animated .cd-accordion__label::before {
    transition: transform .3s;
}

.cd-accordion__sub {
    display: none;
    overflow: hidden;
}

.cd-accordion__sub--is-visible {
    display: block;
}

.cd-accordion__item {
    user-select: none;
}

.cd-accordion__input {
    position: absolute;
    opacity: 0;
}

.cd-accordion__label {
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--space-sm) var(--space-md);
    background: var(--cd-color-1);
    --color-shadow: lightness(var(--cd-color-1), 1.2);
    box-shadow: inset 0 -1px var(--color-shadow);
    color: var(--color-white);

}

.cd-accordion__label::after,
.cd-accordion__label--icon-folder::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    /* background-image: url('./../assets/img/cd-icons.svg'); */
    background-repeat: no-repeat;
    margin-right: var(--space-xxxs);
}

.cd-accordion__label--icon-folder::before {
    order: 1;
}

.cd-accordion__label::after {
    order: 2;
}



.cd-accordion__label--icon-img::after {
    background-position: -48px 0;
}

.cd-accordion__input:checked+.cd-accordion__label::before {
    transform: rotate(0);
}

.cd-accordion__input:checked+.cd-accordion__label::after {
    background-position: -32px 0;
}

.cd-accordion__input:checked~.cd-accordion__sub {
    display: block;
}

.cd-accordion__sub--l1 .cd-accordion__label {
    background: lightness(var(--cd-color-1), 0.65);
    --color-shadow: lightness(var(--cd-color-1), 0.85);
    box-shadow: inset 0 -1px var(--color-shadow);
    padding-left: calc(var(--space-md) + 16px);
}

.cd-accordion__sub--l1 .cd-accordion__label:hover {
    background: lightness(var(--cd-color-1), 0.75);
}

.cd-accordion__item:last-child .cd-accordion__label {
    box-shadow: none;
}

.cd-accordion__sub--l2 .cd-accordion__label {
    padding-left: calc(var(--space-md) + var(--space-xxxs) + 32px);
}

.cd-accordion__sub--l3 .cd-accordion__label {
    padding-left: calc(var(--space-md) + var(--space-xxxs) + 48px);
}